body {
    font-family: system-ui;
    background: #000000;
    color: white;
    text-align: center;
  }

li:first-child{ 
    border: none; 
    border-radius:5px 0 0 5px; 
  }
  
  .main-nav li:last-child {
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
  }